.border-line {
  position: relative;
}

.border-line::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  width: 2px;
  /* color: #7de4c2; */
  background: gray;
  transition: height 0.5s ease-in-out;
}

.border-line.active::before {
  height: 100%;
  background: black;
}
